.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
#logout {
    margin-top: 15px;
    margin-right: 5px;
}
.fa.fa-sign-out {
    margin-right: 3px;
}
#add_category {
    margin-top: 15px;
    margin-left: 5px;
}
.fa.fa-plus-circle {
    margin-right: 3px;
}
.fa.fa-close {
    color: #dc3545;
}